/*COVER*/
.home .cover{
  min-height: 360px;
  background: #D0D0D0;
  color: white;
  position: relative;
}

.home .cover h1{
  font-size: 72px;
  line-height: 360px;
}

.home .cover ul{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 20px;
  text-align: center;
  border-top: 1px solid #c2c2c2;
}

.home .cover li{
  width: 50%;
  float: left;
  min-height: 50px;
  line-height: 50px;
}

.home .cover li a{
  color: white;
  font-size: 14px;
}

.home .cover li.active a{
  color: #868686;
}

.home form{
  text-align: center;
  padding-top: 40px;
}

.home form input[type="text"], form input[type="password"]{
  height: 50px;
  line-height: 50px;
  width: 220px;
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 20px;
}

.home form input[type="password"]{
  width: 145px;
}

.home form input[type="submit"]{
  width: 140px;
  border-radius: 50px;
  background-color: #ef425f;
  color: white;
  line-height: 45px;
  margin-top: 20px;
}