html, body{
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

ul{
  padding: 0;
  margin: 0;
}

li{
  display: inline-block;
}

a{
  text-decoration: none;
}

h1{
  margin: 0;
}

h2{
  font-size: 28px;
}

h3{
  font-size: 14px;
  color: #9C9CA3;
  line-height: 16px;
  margin-bottom: 0px;
}

p{
  font-size: 15px;
}

/*MAIN*/
.container{
  font-size: 0;
}

.content{
  max-width: 320px;
  min-height: 650px;
  margin: 0 auto;
  display: inline-block;
}

section{
  text-align: center;
  width: 100%;
}
