html, body{
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

ul{
  padding: 0;
  margin: 0;
}

li{
  display: inline-block;
}

a{
  text-decoration: none;
}

h1{
  margin: 0;
}

h2{
  font-size: 28px;
}

h3{
  font-size: 14px;
  color: #9C9CA3;
  line-height: 16px;
  margin-bottom: 0px;
}

p{
  font-size: 15px;
}

form input{
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  text-align: center;
}

/*MAIN*/
.container{
  font-size: 0;
}

.content{
  max-width: 320px;
  min-height: 650px;
  margin: 0 auto;
  display: inline-block;
}

section{
  text-align: center;
  width: 100%;
}

.cover{
}

.cover h1{
  min-height: 75px;
  line-height: 75px;
  border-bottom: 1px solid #c2c2c2;
  color: #868686;
  font-size: 30px;
} 

.trajet form{
  background-color: #f2f2f2;
  padding-top: 50px;
}

.trajet form div{
  background-color: #f9fafb;
  border-top: 1px solid #c2c2c2;
  padding: 10px 0;
}

.trajet form input{
  width: 95%;
  margin: 0 auto;
  display: block;
  border-radius: 50px;
  line-height: 30px;
}

.trajet form label{
  font-size: 16px;
  margin-top: 15px;
  display: block;
}